.cabecalho {
    display: grid;
    background-color: var(--preto-cabecalho);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fonte-menu);
}

.cabecalho-claro {
    display: grid;
    background-color: var(--branco-cabecalho);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fonte-menu);
}

.lista__menu {
    display: none;
}

.cabecalho__mobile {
    width: 100vw;
    display: grid;
    grid-template-columns: 80% auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    border-bottom: 3px solid #FFFAFA;

}

.cabecalho__mobile-claro {
    width: 100vw;
    display: grid;
    grid-template-columns: 80% auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    border-bottom: 3px solid #0f0e0e;

}



.cabecalho__mobile-modo {
    border-left: 3px solid #0f0e0e;
    width: 100%;
    margin-right: 0.5em;

}

.cabecalho__mobile-modo a {
    width: 80%;
}

@media screen and (min-width:1024px) {
    .cabecalho {
        width: 100vw;
    }

    .cabecalho-claro {
        width: 100vw;
        border-bottom: 3px solid gray;
    }

    .cabecalho__mobile {
        display: none;
    }

    .cabecalho__mobile-claro {
        display: none;
    }

    .modo-visu {
        display: none;
    }

    .lista__menu {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        align-items: center;
    }

    .lista__menu-item-texto {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        justify-content: center;
        margin: 0;
        height: 90%;
    }

    .lista__menu-item-texto-claro {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        justify-content: center;
        margin: 0;
        height: 90%;
    }

    .lista__menu-item-texto a {
        display: grid;
        text-align: center;
        padding: .5em;
        width: 100;
    }

    .lista__menu-item-texto-claro a {
        display: grid;
        text-align: center;
        padding: .5em;
        width: 100;
    }

    .lista__menu-item-texto:hover {
        background-color: var(--preto-fundo);
    }

    .lista__menu-item-texto-claro:hover {
        background-color: var(--branco-fundo);
    }

    .lista__menu-item-modo:hover {
        background-color: var(--preto-fundo);
    }
}