@import url('../css/cabecalho.css');
@import url('../css/main.css');
@import url('../css/rodape.css');
@import url('../css/maps.css');

:root{
    --branco-fundo:#FFFAFA;
    --preto-fundo:#4F4F4F;
    --branco-cabecalho:#F5F5F5;
    --cinza:#E6E6FA;
    --fonte-branca:#ffffff;
    --preto-cabecalho:	#363636;
    --fonte:16px;
    --fonte-menu:"Abril Fatface";
    --fonte-padrao:"Signika";
}

body{
    color: var(--fonte-branca);
    background-color: var(--preto-fundo);
    font-size: 16px;
    text-align: center;
    font-family: var(--fonte-padrao);
}